.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #49998f, #0f3d83);
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 14px;
}

.combo-box:focused {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #2ce890;
}

hyperlink {
    -fx-text-fill: #1d5297;
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
}

.hyperlink:hover {
    -fx-text-fill: #0f3d83;
    -fx-underline: true;
}

/* Animations */
.floating-text-field, .floating-label {
    -fx-transition: all 0.3s ease;
}

/*pour le fontAwersome */
/* Classe pour l'icône font-awesome */
.fa {
    font-family: "FontAwesome";
    -fx-font-size: 24px;
    
}

/* Rotation lors du survol */
.fa:hover {
    -fx-animation: rotate 1s infinite linear;
}

/* Définition de l'animation de rotation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
